<mat-card dnd-droppable (onDropSuccess)="addRoom($event)" [dropZones]="['rooms']">
  <mat-card-header>
    <mat-icon mat-card-avatar color="primary">home</mat-icon>
    <mat-card-title>Rooms</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let room of rooms; let i = index "
         dnd-draggable
         [dragData]="room" (onDragSuccess)="removeRoom(i)" [dragEnabled]="true"
         [dropZones]="['lev-room', 'room-lev-bld']">
      <app-room-view [room]="room"></app-room-view>
    </div>
  </mat-card-content>
</mat-card>
<mat-card dnd-droppable (onDropSuccess)="addLevel($event)" [dropZones]="['levels']">
  <mat-card-header>
    <mat-icon mat-card-avatar color="primary">layers</mat-icon>
    <mat-card-title>Levels</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card *ngFor="let level of levels; let li = index" dnd-droppable [dropZones]="['lev-room']"
              (onDropSuccess)="addRoomToLevel(li, $event)">
      <div dnd-draggable [dragData]="level" (onDragSuccess)="removeFromLevels(li)" [dropZones]="['bld-lev']"
           [dragEnabled]="isLevDragEnabled">
        <div class="label-container">
          <app-key-value key="name" [value]="level.name"></app-key-value>
          <app-key-value key="id" [value]="level.id"></app-key-value>
        </div>
        <app-key-value key="rooms"></app-key-value>
        <div *ngFor="let room of level?.rooms || []; let ri = index" dnd-draggable [dragData]="room"
             (onDragSuccess)="removeRoomFromLevel(li, ri)" [dragEnabled]="true"
             (onDragStart)="turnOffLevDrag()" (onDragEnd)="turnOnLevDrag()"
             [dropZones]="['room-lev-bld', 'rooms', 'lev-room']">
          <app-room-view [room]="room"></app-room-view>
        </div>
      </div>
    </mat-card>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar color="primary">business</mat-icon>
    <mat-card-title>Buildings</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card *ngFor="let building of buildings; let bi = index" dnd-droppable [dropZones]="['bld-lev']"
              (onDropSuccess)="addLevToBuilding(bi, $event)">
      <div class="label-container">
        <app-key-value key="name" [value]="building.name"></app-key-value>
        <app-key-value key="id" [value]="building.id"></app-key-value>
      </div>

      <app-key-value key="levels"></app-key-value>
      <mat-card *ngFor="let level of building.levels; let li = index" dnd-droppable
                (onDropSuccess)="addRoomToBuildingLevel(bi, li, $event)" [dropZones]="['room-lev-bld']">
        <div dnd-draggable (onDragSuccess)="removeLevFromBuilding(bi, li)" [dragEnabled]="isLevDragEnabled"
             [dropZones]="['levels']" [dragData]="level">
          <div class="label-container">
            <app-key-value key="name" [value]="level.name"></app-key-value>
            <app-key-value key="id" [value]="level.id"></app-key-value>
          </div>

          <app-key-value key="rooms"></app-key-value>
          <div *ngFor="let room of level.rooms; let ri = index" dnd-draggable [dragData]="room"
               (onDragSuccess)="removeRoomFromBuildingLevel(bi, li, ri)" [dragEnabled]="true"
               (onDragStart)="turnOffLevDrag()" (onDragEnd)="turnOnLevDrag()"
               [dropZones]="['rooms', 'room-lev-bld', 'lev-room']">
            <div>
              <app-room-view [room]="room"></app-room-view>
            </div>
          </div>
        </div>
      </mat-card>
    </mat-card>
  </mat-card-content>
</mat-card>
